@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

//Color

$grayColor: #161616;
$grayColor2: #585858;
$blueWhiteColor:#e3e4e6;
$whiteColor: #fff;
$whiteGrayColor: #ececee;
$redColor: #f01717;
$greenColor: #0ee906;
$blueWhiteColor2:#85bbf8;
$blueColor: #0051ff;
$background-light: #f8f9fa;
$background-dark: #343a40;
$text-light: #f8f9fa;
$text-dark: #343a40;
$border-color: #dee2e6;
$success-color: #28a745;
$success-hover: #218838;
$warning-color: #ffc107;
$warning-hover: #e0a800;
$error-color: #dc3545;
$error-hover: #c82333;
$price-color: #6c757d;
$hover-bg: #e9ecef;
$odd-row-bg: #f9f9f9;
$hover-row-bg: #e9ecef;
// Font-Size

$fontSizeH3: 25px;
$fontSizeH4: 20px;
$fontSizep: 17px;
$fontSizeH2: 30px;
$fontSizeH1: 40px;
$fontSizeInput: 15px;
$fontSizeButton: 26px;
$fontSizeButtonMin: 20px;

@mixin flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



@mixin flex-column2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

  }


  @mixin flex-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

  }

  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @mixin flex-start {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  @mixin flex-startJ {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  @mixin flex-startC {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  @mixin flex-end {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  @mixin flex-endC {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  @mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @mixin flex-betweenStart {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }


  @mixin flex-reverse2 {
    display: flex;
    flex-direction: row-reverse;
  }


  .navbar {
    @include flex-center();
    width: 100%;
    height: 100%;
.logo{
@include flex-start();
a{
    img{
        border-radius: 50%;
        height: 120px;
        width: 100%;

    }
}
}
  }
  nav{
    gap: 35px;
    width: 100%;
    height: 100%;
    input[type="text"] {
        padding: 5px 5px;
        border: 1px solid $grayColor2;
        border-radius: 5px;
        font-size: $fontSizeInput;
        width: 250px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);

        &:focus {
            border-color: $blueColor;
            outline: 0;
            box-shadow: 0 0 0 0.1rem rgba(49, 125, 206, 0.25);
        }
    }
    .fa-magnifying-glass {
        font-size: $fontSizep;
        cursor: pointer;
        margin-left: -40px;
        color: #6c757d;
    }

    header{
    @include flex-center();
        width: 100%;
        height: 100%;
        a{
            padding: 10px;
            font-size: $fontSizeH4;
            font-weight: 500;
color: $grayColor;
text-decoration: none;
transition: .2s ease;
&:hover{
    cursor: pointer;
    color: $grayColor2 ;
}
i{
    margin-left: 10px;
    color:$grayColor2;
    font-size: $fontSizeH3;
    padding: 6px;
}

}
    }
  }
  @media(max-width: 576px) {
    .navbar,nav,header{
@include flex-column();
        width: 100%;
        height: 100%;
        padding: 10px;

    }
}


@media(max-width: 1068px) {
    .navbar,nav,header{
@include flex-column();
        width: 100%;
        height: 100%;
        padding: 10px;

    }
}



  .swiper {
    height:100%;
width: 96%;
border-radius:12px;
}

  .swiper-slide{
width: auto;
height: auto;
img {
    overflow: hidden;
height: 100%;
width: 100%;

}



}

.background{
    border-radius: 20px;
    margin: auto;
    @include flex-center();
    background: url("../Images/D6.png");
    height:580px;
width:96%;
padding: 10px;
    background-repeat: no-repeat !important;

}
.bike-catalog {
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(26,26,27);
    background: linear-gradient(90deg, rgba(26,26,27,1) 26%, rgba(52,52,55,1) 39%, rgba(28,28,29,1) 66%, rgba(28,29,29,1) 71%);

    h2 {
        color: $whiteColor;
        font-size: $fontSizeH2;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
}


@media(max-width: 576px) {
    .bike-catalog{
width: 100%;
height: 100%;


    }
}


@media(max-width: 1068px) {
    .bike-catalog{
        width: 100%;
        height: 100%;

    }
}




@media(max-width: 576px) {
    .background{
        display: none;



    }
}


@media(max-width: 1068px) {
    .background{
display: none;

    }
}




.img-catalog {
    padding: 10px;
    gap: 45px;
    width: 46%;
    height: auto;
@include flex-column();

    .title-catalog {
        width: 100%;
        text-align: center;

        h3 {
            font-size: $fontSizeH3;
            font-weight: 700;
            color: $whiteColor;
        }
    }

    img {
        border-radius: 25px;
        height: 350px;
        width: 100%;
        object-fit: cover;
        transition: .5s ease;
        cursor: pointer;
        border: none;

        &:hover {
            transform: scale(0.95);
            filter: brightness(75%);
        }
    }
}

@media(max-width: 576px) {
    .img-catalog,.title-catalog{
width: 100%;
height: 70%;
@include flex-column();

    }
}


@media(max-width: 1068px) {
    .img-catalog,.title-catalog{
        width: 100%;
        height: 60%;
        @include flex-column();

    }
}




.oferte-div {
    width: 100%;
    height: 100%;
    @include flex-center();
    h2{
        font-size: $fontSizeH2;
        color: $grayColor;
        font-weight: 700;

    }
    .despre-txt{
        font-size: $fontSizeH2;
        color: $blueColor;
        text-decoration: underline;
        font-weight: 700;
    }

}

@media(max-width: 576px) {
    .oferte-div,.bike-sale,.bike-sale2.title-sale,.title-sale2{
width: 100%;
height: 100%;
@include flex-column();
.title-sale,.title-sale2{
    img{
        height: 100%;
        width: 100%;

    .button-send{
        button{
            width: 100%;
            height: 100%;

        }
    }
}



}
    }
}


@media(max-width: 1068px) {
    .oferte-div,.bike-sale{
        width: 100%;
        height: 100%;

        @include flex-column();
        .title-sale,.title-sale2{
            img{
                height: 100%;
                width: 100%;
        }
    }
    }
}



.bike-sale {
    padding: 5px;
    width: 100%;
    height: 100%;
   @include flex-center();



    h2 {
        color: $whiteColor;
        font-size: $fontSizeH2;
        font-weight: 600;
        text-align: center;
    }
}

.img-sale {
    padding: 10px;
    gap: 45px;
    height: 100%;
@include flex-column();



    .title-sale {
        width: 100%;
        text-align: center;
        .button-send {

            @include flex-center();
           a,button {
            margin: 10px 15px;
            cursor: pointer;
            height: 40px;
            width: 215px;
            text-decoration: none;
            background-color: $grayColor;
            font-size: $fontSizeButtonMin;
            font-weight: 700;
            padding: 5px;
            color: $whiteColor;
            border: none;
            border-radius: 15px;
            text-align: center;
            transition: .2s ease;

            &:hover {
            filter: brightness(92%);
            }
            }




            }
        h3 {
            font-size: $fontSizeH3;
            font-weight: 700;
            color: $grayColor;
        }

        h4{
            font-size: $fontSizeH4;
            color: $redColor;
            font-weight: 700;

        }
        .price{
            font-size: $fontSizeH4;
            color: $grayColor;
            font-weight: 700;
        }

        .color{
            font-size: $fontSizeH4;
            font-weight: 700;
            color: $blueColor;

        }


       p{
            font-size: $fontSizep;
            color: $grayColor;
            font-weight: 700;
            text-decoration: line-through $redColor;

        }
        .stock{
            font-size: $fontSizep;
            color: $greenColor ;
            font-weight: 600;

        }

    }

    img {
        object-fit: cover;
        border-radius: 25px;
        height: 250px;
        width: 100%;
        transition: .5s ease;
        cursor: pointer;
        border: none;

        &:hover {
            transform: scale(0.95);
            filter: brightness(75%);
        }
    }


}

.background2{
    padding: 5px;
    background: rgb(26,26,27);
    background: linear-gradient(90deg, rgba(26,26,27,1) 26%, rgba(52,52,55,1) 39%, rgba(28,28,29,1) 66%, rgba(28,29,29,1) 71%);
    gap: 20px;
    width: 100%;
    height: 100%;
    @include flex-center();
    img{
        height: 350px;
        border-radius: 20px;
width: 650px;
    }
    p{
        font-size: $fontSizep;
        font-weight: 500;
        color: $whiteColor;
        text-align: center;
    }

    .text-back{
        padding: 10px;
width: 100%;
height: 100%;
p{
    margin: 2px auto;
    font-size: $fontSizep;
    font-weight: 500;
    color: $whiteColor;
    text-align: center;
}
    }
}

.background3{
    padding: 10px;
    background: rgb(26,26,27);
    background: linear-gradient(90deg, rgba(26,26,27,1) 26%, rgba(52,52,55,1) 39%, rgba(28,28,29,1) 66%, rgba(28,29,29,1) 71%);
    gap: 20px;
    width: 100%;
    height: 100%;
    @include flex-column();
    img{
        height: 370px;
        border-radius: 20px;
width: 700px;
    }
    p{
        font-size: $fontSizep;
        font-weight: 500;
        color: $whiteColor;
        text-align: center;
    }

    .text-back2{
        @include flex-column();
        padding: 5px;
width: 100%;
height: 100%;

button{
    cursor: pointer;
    border-radius: 20px;
    border: none;
    width: 250px;
    height: 45px;
    color: $whiteColor;
    background-color: $grayColor;
    font-size: $fontSizeButton;
    font-weight: 700;
    text-align: center;
    transition: .2s ease;

&:hover{
    filter: brightness(85%);

}
}

    }
}

.despre {
    padding: 10px;
    width: 100%;
    height: 100%;
    @include flex-center();
    h2{
        font-size: $fontSizeH2;
        color: $grayColor;
        font-weight: 700;

    }

}



@media(max-width: 576px) {
    .background2,.background3,.despre,.text-back{
        img{
            height: 100%;
            width: 100%;


        }
width: 100%;
height: 100%;
@include flex-column();

    }
}


@media(max-width: 1068px) {
    .background2,.background3,.despre,.text-back{
        img{
            height: 100%;
            width: 100%;

        }
width: 100%;
height: 100%;
@include flex-column();
    }
}





// Map
.background-map{
    margin: auto;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 450px;
    @include flex-startC();
    h2{
    font-size: $fontSizeH2;
    color: $grayColor;
    font-weight: 700;
    }

&::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 350px;
  background: url("https://steamuserimages-a.akamaihd.net/ugc/781851765959638902/B0FC9422FDA9DB21A686909E349BCF94C9A17B74/?imw=512&imh=288&ima=fit&impolicy=Letterbox&imcolor=") no-repeat center/cover;
filter: blur(0px);
  z-index: -1;

}
}

#map {
    margin: auto;
    height: 400px;
    width: 100%;
}


@media(max-width: 576px) {
    #map{
height: 250px;
width: 100%;
margin: auto;

    }
}


@media(max-width: 1068px) {
    #map{
height: 350px;
width: 100%;
margin: auto;
    }
}


// Login

.errors {
    margin: 3px;
    text-align: center;
    font-size: $fontSizep;
    color: $redColor;
    font-weight: 700;
}
.register_form {
    background: rgb(26,26,27);
    background: linear-gradient(90deg, rgba(26,26,27,1) 26%, rgba(52,52,55,1) 39%, rgba(28,28,29,1) 66%, rgba(28,29,29,1) 71%);
padding: 15px;
    margin: auto;
    @include flex-column2();
    width: 100%;
    height: 100%;

    .auth_user {
    border: 1px solid $grayColor2;
        @include flex-center();
padding: 10px 15px;
        background-color: $whiteGrayColor;
        height: 100%;
        position: relative;
        width: 650px;
        border-radius: 15px;
        .errors {
            margin: 3px;
            text-align: center;
            font-size: $fontSizep;
            color: $redColor;
            font-weight: 700;
        }
        form {
            width: 100%;
            height: 100%;
           text-align:center;
        }

       input {
        width: 215px;
        margin:5px;
        border: none;
            font-weight: 600;
            padding: 5px;
            font-size: $fontSizeInput;
            border: 1px solid $grayColor2;
            border-radius: 10px;
            height: auto;
            transition: .3s ease;
            &:focus {
                outline: none;
                border: 1px solid $blueWhiteColor2;
              }


    }
    .login_div {
        height: 130px;
        width: 900px;
        margin: 5px 10px;
        padding: 15px 25px;
        background-color: $blueWhiteColor2;
        border-radius: 15px;
        text-align: center;
    }

    h3 {
        font-size: $fontSizeH3;
        color: $grayColor;
        font-weight: 600;

    }

   p {
        font-size: $fontSizep;
        color: $grayColor;
        font-weight: 500;

    }

    a{
        margin: 5px;
        font-size: $fontSizeH4;
        color: $grayColor;
        font-weight: 500;
transition: .2s ease;
    &:hover{
        color: $blueColor;
    }
    }


    }

    .button-send {


    @include flex-center();
    button {
    margin: 10px 15px;
    cursor: pointer;
    height: 40px;
    width: 215px;
    background-color: $grayColor;
    font-size: $fontSizeButtonMin;
    font-weight: 700;
    padding: 5px;
    color: $whiteColor;
    border: none;
    border-radius: 15px;
    text-align: center;
    transition: .2s ease;

    &:hover {
    filter: brightness(92%);
    }
    }




    }
    .password-container2 {
        position: relative;
            display: inline-block;

            .toggle-password {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                cursor: pointer;
                pointer-events: auto;

                i {
                  color: $grayColor;
                }
            }
        }



}

.change-pass{
    width: auto;
height: auto;
a{
  font-size: $fontSizeH4;
  font-weight: 700;
  color: $blueColor;
  text-align: center;
  transition: .2s ease;
  &:hover{
    color: $redColor;
  }
}
}

@media(max-width: 1068px) {
    .register_form{

        width: 100%;
        height: 100%;
        margin: auto;
    @include flex-column();

    .auth_user{
        @include flex-column();
        width:100%;
        .login_div {
            height:100%;
            width: 100%;
        }
    }
}
}




@media(max-width: 576px) {
    .register_form{
        width: 100%;
        height: 100%;
        margin: auto;
    @include flex-column();

    .auth_user{
        @include flex-column();
        width:100%;
        .login_div {
            height:100%;
            width: 100%;
        }
    }
}
}



// User/Login
.register_login{
    padding:2px 15px;
    margin: auto;
    @include flex-column2();
height:100%;
width:100%;



}

// Formular Login


.login_form{
    width: 100%;
    height: 100%;
    padding: 15px;
    @include flex-column();
    .errors {
        margin: 3px;
        text-align: center;
        font-size: $fontSizep;
        color: $redColor;
        font-weight: 700;
    }

.auth_login {
    border: 1px solid $grayColor;
        @include flex-column();
padding: 5px 15px;
        background-color: $whiteColor;
        height: 100%;
        position: relative;
        width:620px;
        border-radius: 15px;
h3{
    text-align: center;
    font-size: $fontSizeH3;
    color: $grayColor;
    font-weight: 700;
}
        form {
           text-align:center;
        }

       input {
        margin:5px;
        border: none;
        width: 215px;
            font-weight: 600;
            padding: 5px;
            font-size: $fontSizeInput;
            border: 1px solid $grayColor;
            border-radius: 10px;
            height: auto;
            transition: .3s ease;
            &:focus {
                outline: none;
                border: 1px solid $blueWhiteColor2;
              }


    }

    .password-container {
        position: relative;
            display: inline-block;

            .toggle-password {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                cursor: pointer;
                pointer-events: auto;

                i {
                  color: $grayColor;
                }
            }
        }

    }

    .button-send {
    @include flex-center();
    button {
    cursor: pointer;
    height: 40px;
    width: 215px;
    background-color: $grayColor;
    font-size: $fontSizeButtonMin;
    font-weight: 700;
    color: $whiteColor;
    border: none;
    border-radius: 15px;
    text-align: center;
    transition: .2s ease;

    &:hover {
    filter: brightness(92%);
    }
    }

    }

    .delete_account{
        text-align: center;
        margin: auto;
        height: 100%;
        width: 100%;

        #delete-user{
    background-color: #d00000;
    }

    }

}

@media(max-width: 1068px) {
    .register_login{
        h2{
            color: $whiteColor;
        }
    }
    .login_form{
        margin: auto;
    @include flex-column();

    .auth_login{
        width: 470px;
        .login_div {
            height:100%;
        }
    }

    h2 {
        font-size: $fontSizeH4;
        color: $whiteColor;
        font-weight: 700;
    }


    }

    }

    @media(max-width: 576px) {
        .register_login{
            h2{
                color: $whiteColor;
            }
        }
        .login_form{
            margin: auto;
        @include flex-column();

        .auth_login{
            width: 100%;
            .login_div {
                height:100%;
            }
        }

        h2 {
            font-size: $fontSizeH4;
            color: $whiteColor;
            font-weight: 700;
        }


        }

        }

        .user-dashbord{
            padding:2px 15px;
            margin: auto;
            @include flex-column2();
        background: url("https://bogatyr.club/uploads/posts/2024-04/74053/1712109462_bogatyr-club-ppbo-p-velosiped-fon-1.jpg");
        background-position: center;
        background-size: cover;
        height:360px;
        width:100%;
        background-repeat: no-repeat !important;

        h2{
            text-align: center;
            font-size: $fontSizeH2;
            color: $redColor;
            font-weight: 700;
        }
        }

        .user_info {
            text-align: center;
            margin: auto;
            border: 1px solid $blueColor;
                @include flex-column();
        padding:5px 2px;
                background-color: $blueWhiteColor2;
                height: 100%;
                width: 520px;
                border-radius: 15px;

                h2 {
                    font-size: $fontSizeH2;
                    color: $redColor;
                    font-weight: 600;
                }
                h3 {
                    font-size: $fontSizeH3;
                    color: $grayColor;
                    font-weight: 600;
                }

p{
    font-size: $fontSizep;
    color: $grayColor;
    font-weight: 700;
    text-align: center;
    text-decoration: underline $redColor;
}
                .button-send {
                    margin-top: 5px;
                    @include flex-center();
                    button {
                    margin: 10px 15px;
                    cursor: pointer;
                    height: 40px;
                    width: 160px;
                    background-color: $blueColor;
                    font-size: $fontSizeButtonMin;
                    font-weight: 700;
                    color: $whiteColor;
                    border: none;
                    border-radius: 15px;
                    text-align: center;
                    transition: .2s ease;

                    &:hover {
                    filter: brightness(92%);
                    }
                    }

                    }





                    i {
                        border-radius: 10px;
                        background-color: $grayColor;
                        padding: 5px;
                        width: 90px;
                        height: 72px;
        text-align: center;
                        border: 3px solid $grayColor;
                        font-size: 50px;
                        gap: 5px;
                        font-weight: 600;
                        color: $whiteColor;
                      }






        }

        @media(max-width: 1068px) {
            .user-dashbord,.user_info {
                width: 100%;
                height: 100%;
                margin: auto;

            h2 {
                text-align: center;
                font-size: $fontSizeH3;
                color: $blueColor;
                font-weight: 700;

            }
            }
        }


        @media(max-width: 576px) {
            .user-dashbord,.user_info {
                padding: 10px;
                width: 100%;
                height: 100%;
                margin: auto;
            }

        }


.bike-saleDashboard {
    position: relative;
    display: inline-block;
    padding: 5px;
    width: 100%;
    height: 100%;
   @include flex-center();


    h2 {
        color: $whiteColor;
        font-size: $fontSizeH2;
        font-weight: 600;
        text-align: center;
    }
}

.img-saleDashboard {
    position: relative;
    padding: 10px;
    gap: 45px;
    height: 100%;
@include flex-column();



    .title-saleDashboard {
        width: 100%;
        text-align: center;

        h3 {
            font-size: $fontSizeH3;
            font-weight: 700;
            color: $grayColor;
        }

        h4{
            font-size: $fontSizeH4;
            color: $redColor;
            font-weight: 700;

        }


       p{
            font-size: $fontSizep;
            color: $grayColor;
            font-weight: 700;
            text-decoration: line-through $redColor;

        }
        .stock{
            font-size: $fontSizep;
            color: $greenColor ;
            font-weight: 600;

        }

    }

    img {
        object-fit: cover;
        border-radius: 25px;
        height: 250px;
        width: 100%;
        transition: .5s ease;
        cursor: pointer;
        border: none;

        &:hover {
            transform: scale(0.95);
            filter: brightness(75%);
        }
    }



}

.detalii-btn,.detalii-btn2,.detalii-btn3 {
    font-weight: 500;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $grayColor;
    color: $whiteColor;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;

}
.img-saleDashboard:hover .detalii-btn {
    opacity: 1;
}
.img-saleDashboard:hover .detalii-btn2 {
    opacity: 1;
}
.img-saleDashboard:hover .detalii-btn3 {
    opacity: 1;
}



@media(max-width: 576px) {
    .bike-saleDashboard, .title-saleDashboard{
width: 100%;
height: 100%;
@include flex-column();
.title-saleDashboard,.title-saleDashboard{
    img{
        height: 100%;
        width: 100%;
}



}
    }
}


@media(max-width: 1068px) {
    .bike-saleDashboard{
        width: 100%;
        height: 100%;

        @include flex-column();
        .title-saleDashboard{
            img{
                height: 100%;
                width: 100%;
        }
    }
    }
}







.pop-up,.pop-up2,.pop-up3 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    img {
        max-width: 100%;
        height: auto;
    }
    .close,.close2,.close3 {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }
    ul{
        text-align: center;
        color: $grayColor;
        margin: 2px auto;
        font-size: $fontSizeInput;
        font-weight: 600;

    }
}

.pop-up-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 480px;
    margin: 20px;
    text-align: center;
}




@media(max-width: 576px) {
    .pop-up,.pop-up2,.pop-up3{
width: 100%;
height: 100%;

    }
}


@media(max-width: 1068px) {
    .pop-up,.pop-up2,.pop-up3{
        width: 100%;
        height: 100%;

    }
}



// Send date User Register



.sendDate {
    padding: 20px 15px;
    @include flex-column();
    width: 100%;
    height: 100%;
    .succes-date{
        padding: 10px;
        border-radius: 50%;
        height: 210px;
    }
    .loading-img {
        height: 150px;
        display: none;
    }

    h2{
        text-align: center;
        margin: 10px 15px;
        color: $blueColor;
        font-size: $fontSizeH2;
        font-weight: 700;

    }

    .modal-send{
        height: 100%;
        width: 80%;
        background-color: $blueWhiteColor;
        border-radius: 15px;
        text-align: center;
    }
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .hidden {
        display: none;

    }


    @keyframes rotate {
        from {
             transform: rotate(0deg);
            }
        to {
             transform: rotate(360deg);
             }
    }




    }


    @media (max-width: 1068px) {
    .sendDate{
        width: 100%;
        height: 100%;
        h2{
            text-align: center;
            margin: 5px 15px;
            color: $blueColor;
            font-size: $fontSizeH4;
            font-weight: 700;

        }

    }

    .succes-date{
        padding: 10px;
        border-radius: 50%;
        height: 130px;
    }

    .loading-img {
        height: 130px;
        display: none;
    }
    }


    @media (max-width: 576px) {
        .sendDate{
            width: 100%;
            height: 100%;
            h2{
                text-align: center;
                margin: 5px 15px;
                color: $blueColor;
                font-size: $fontSizeH4;
                font-weight: 700;

            }

        }

        .succes-date{
            padding: 10px;
            border-radius: 50%;
            height: 130px;
        }

        .loading-img {
            height: 130px;
            display: none;
        }
        }

        // Crud Bikes




.info-crud{
    width: 100%;
    height: 100%;
h3{
    font-size: $fontSizeH3;
    font-weight: 600;
    color: $blueColor;
    text-align: center;
}
}
.Crud {
    height: auto;
    width: auto;
@include flex-column();

.formular {
        background-color: $whiteColor;
        height: 100%;
        position: relative;
        width: 530px;
        border-radius: 15px;
        .images {
            @include flex-between();
        }
        .logo-bike{
            @include flex-column();
            width: 100%;
            height: 100%;
            label{
                cursor: pointer;
                text-align: center;
                margin: auto;
            }
            input {
                display: none;

            }
            #logo-img{
                cursor: pointer;
                height: 100px;
                border-radius: 10px;

            }

        }
img{
    padding: 3px;
    border-radius:20px;
    height: 100px;

}
        h3{
            text-align: center;
            font-size: $fontSizeH3;
            color: $blueColor;
        }
        h4 {
            text-align: center;
            font-size: $fontSizeH4;
            color: $blueColor;
        }
       input {
        margin:5px;
        border: none;
            font-weight: 600;
            padding: 3px;
            font-size: $fontSizeInput;
            border: 1px solid $grayColor;
            border-radius: 10px;
            height: auto;
            width: calc(50% - 5px);
            transition: .3s ease;
            &:focus {
                outline: none;
                border: 1px solid $blueColor;
              }


    }
    textarea {
        margin: 5px 0;
        width: 250px;
        padding: 10px;
        border: 1px solid $grayColor;
        border-radius: 5px;
        font-size: $fontSizeInput;
        transition: border-color 0.3s ease;
        resize: vertical;
        height: auto;

        &:focus {
            outline: none;
            border-color: $blueColor;
        }
    }

    input[type="checkbox"] {
        text-align: center;
      height: 20px;
        font-weight: 700;


    }
    select {
        height: auto;
    }

    select{
        margin:5px;
        border: none;
            font-weight: 600;
            padding: 3px;
            font-size: $fontSizeInput;
            border: 1px solid $grayColor;
            border-radius: 10px;
            transition: .3s ease;
        max-height: 50px;
            option{
                border-radius: 10px;
            }
    }

    a{
        cursor: pointer;
        font-size: $fontSizeButtonMin;
        font-weight: 700;
        color: $blueColor;
        border: none;
        border-radius: 18px;
        text-align: center;
        transition: .2s ease;
    }




label{
    font-size: $fontSizep;
    color: $grayColor;
    font-weight: 500;
}
    .form-group {
        @include flex-column();
        margin: 15px 15px;
        width: auto;
        height: auto;

        .country_select{
            @include flex-column();
            width: 100%;
            height: 100%;
            label{
                font-size: $fontSizep;
                color: $blueColor;
                font-weight: 600;
            }
            select{
                margin:5px;
                border: none;
                    font-weight: 600;
                    padding: 3px;
                    font-size: $fontSizeInput;
                    border: 1px solid $grayColor;
                    border-radius: 10px;
                    height: auto;
                    width: calc(50% - 5px);
                    transition: .3s ease;
                    option{
                        border-radius: 10px;
                    }
            }
        }

    }

}
.button-send {


    @include flex-center();
    button {
    margin: 10px 15px;
    cursor: pointer;
    height: 40px;
    width: 215px;
    background-color: $grayColor;
    font-size: $fontSizeButtonMin;
    font-weight: 700;
    padding: 5px;
    color: $whiteColor;
    border: none;
    border-radius: 15px;
    text-align: center;
    transition: .2s ease;

    &:hover {
    filter: brightness(92%);
    }
    }




    }



}


@media(max-width: 1068px) {
    .Crud {
        margin: auto;
        @include flex-column();

        h1{
            text-align: center;
            font-size: $fontSizeH2;
            color: $whiteColor;
            font-weight: 800;
        }

        .formular{
            width: 370px;

            img{
                border-radius:50px;
                height: 70px;

        }
        }




}

}

@media(max-width: 576px) {
    .Crud {
        margin: auto;
        @include flex-column();

        h1{
            text-align: center;
            font-size: $fontSizeH2;
            color: $whiteColor;
            font-weight: 800;
        }

        .formular{
            width: 370px;

            img{
                border-radius:50px;
                height: 70px;

        }
        }


}

}

@media (max-width: 576px) {
    .page-container {
      flex-direction: column;
      padding: 10px;
    }

    .filters {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
    }

    .products-container {
      width: 100%;
      gap: 10px;

      .bike-sale2 {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }





// Biciclete/Index


.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }

  .filters {
    width: 20%;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 10px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
    }

    input,
    select {
      width: 100%;
      padding: 8px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid #ccc;
      &:focus {
        outline: none;
        border: 1px solid $blueWhiteColor2;
      }
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: $blueColor;
      color: $whiteColor;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  .products-container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .no-exist{
        font-size: $fontSizep;
        color: $redColor;
        text-align: center;
        font-weight: 600;

    }
    .bike-sale2 {
      background-color:$whiteColor;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 15px;
      width: calc(33.333% - 20px);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      .img-sale2 {
        text-align: center;
        img {
            border-radius: 10px;
          width: 100%;
          height: auto;
          max-height: 200px;
          object-fit: cover;
          border-bottom: 1px solid #ddd;
          margin-bottom: 15px;
        }
      }

      .title-sale2 {
        text-align: center;

        h3 {
          font-size: 1.2rem;
          margin: 10px 0;
        }

        h4 {
          font-size: 1rem;
          margin: 5px 0;
        }

        .price {
          color: $grayColor;
          font-weight: $fontSizeH4;
          font-weight: 600;
        }

        .stock {
          color: $greenColor;
          font-weight: 600;
            font-size: $fontSizeH4;
        }

        .button-send {
          margin-top: 10px;
          a {
            display: block;
            padding: 7px;
            background-color:$blueColor;
            color: $whiteColor;
            font-size: $fontSizeButtonMin;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }



  @media (max-width: 576px) {
    .page-container {
      flex-direction: column;
      padding: 10px;
    }

    .filters {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
    }

    .products-container {
      width: 100%;
      gap: 10px;

      .bike-sale2 {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
    }
  }


  @media (min-width: 576px) and (max-width: 1068px) {
    .page-container {
      flex-direction: column;
      padding: 15px;
    }

    .filters {
      width: 25%;
      padding: 15px;
    }

    .products-container {
      width: 75%;
      gap: 15px;

      .bike-sale2 {
        width: calc(50% - 15px);
      }
    }
  }




// Despre Bicicleta
.despre-bicicleta {
    width: 100%;
    height: 100%;
    @include flex-center();
    img {
        border-radius: 15px;
      object-fit: cover;
      height: 300px;
      width: 600px;
        margin-right: 60px;
      }
      .bike-details {
        border: 1px solid $blueColor;
padding: 13px 31px;
border-radius: 15px;
width: auto;
height: 100%;

        background-color: $whiteGrayColor;
  @include flex-column();

      }

      h3 {
    font-size: $fontSizeH3;
    color: $grayColor;
    font-weight: 700;

      }

      .price {
        margin-bottom: 5px;
        font-weight: 600;
       font-size: $fontSizeH4;
       color: $grayColor;
      }

      .color{
        font-weight: 600;
       font-size: $fontSizeH4;
       color: $blueColor;
      }
      .stock {
        font-weight: 600;
        font-size: $fontSizeH4;
        color: $greenColor;
      }

      .button-dropdown {
        margin-top: 5px;
        button {
          padding: 10px 20px;
          font-size: $fontSizeH4;
          background-color: $grayColor;
          color: $whiteColor;
          border: none;
          border-radius: 15px;
          cursor: pointer;

          &:hover {
filter: brightness(85%);
        }
        }

}

.description-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 10px;
  }

  .description-content li {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 16px;
  }
}


@media (max-width: 1068px) {
    .despre-bicicleta,.despre-txt,.bike-details {
        .oferte-div,.despre-txt{
            h2{
                font-size: $fontSizeH3;
            }

            .bike-details{
                h3{
                    font-size: $fontSizeH4;
                }
            }
        }

        text-align: center;
        img {
            margin: auto;
            border-radius:15px ;
            padding: 12px;
            height: 240px;
            width: 400px;
        }
    @include flex-column();
    width: 100%;
    height: 100%;
    }
}

@media (max-width: 576px) {
    .despre-bicicleta {
        text-align: center;
        img {
            height: 240px;
            width: 400px;
        }
    @include flex-column();
    width: 100%;
    height: 100%;
    }
}





// Cart




.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    thead {
        background-color: $background-light;
        color: $text-dark;
    }

    th, td {
        padding: 10px;
        border: 1px solid $border-color;
        text-align: left;
    }

    tbody {
        tr:nth-child(odd) {
            background-color: $odd-row-bg;
        }

        tr:hover {
            background-color: $hover-row-bg;
        }
    }
}

.image {
    img {
        margin-left: 20px;
        width: 170px;
        height: auto;
        border-radius: 5px;
    }
}

.details {
    margin-left: 15px;

    h4 {
        margin: 0;
        font-size: 16px;
        color: $text-dark;
    }

    .price {
        color: $price-color;
        font-size: 14px;
    }
}

.actions {
    form {
        display: inline;
    }

    .btn {
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        color: $text-light;
        cursor: pointer;
        font-size: 14px;
        margin: 0 5px;
        transition: background-color 0.3s;

        &.btn-success {
            background-color: $success-color;

            &:hover {
                background-color: $success-hover;
            }
        }

        &.btn-warning {
            background-color: $warning-color;
            color: black;

            &:hover {
                background-color: $warning-hover;
            }
        }

        &.btn-danger {
            background-color: $error-color;

            &:hover {
                background-color: $error-hover;
            }
        }
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;

    &.alert-success {
        font-weight: 500;
        font-size: $fontSizep;
        background-color: #d4edda;
        color: $greenColor;
        border-color: #c3e6cb;
    }

    &.alert-danger {
        font-weight: 500;
        font-size: $fontSizep;
        background-color: #f8d7da;
        color: #721c24;
        border-color: #f5c6cb;
    }
}

.total-price {
    text-align: right;
    font-size: $fontSizeH4;
    font-weight: bold;
    margin-top: 20px;
    color: $text-dark;
    border-top: 2px solid $border-color;
    padding-top: 10px;
    padding: 10px;
}
.button-send {
    .add-to-cart-btn {
        @include flex-center();
         margin: auto;
         cursor: pointer;
         height: 40px;
         width: 220px;
         text-decoration: none;
         background-color: $blueColor;
         font-size: $fontSizeButtonMin;
         font-weight: 700;
         padding: 5px;
         margin-bottom: 10px;
         color: $whiteColor;
         border: none;
         border-radius: 10px;
         text-align: center;
         transition: .2s ease;

        &:hover {
filter: brightness(85%);
        }
    }
}

.favorites-item {
    .image {
        img {
            margin-left: 20px;
            width: 180px !important;
            height: auto !important;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }
}





@media (max-width: 576px) {
    .table {
        font-size: 12px;
        th, td {
            padding: 8px;
        }
    }

    .image {
        img {
            width: 100px;
        }
    }

    .details {
        margin-left: 10px;

        h4 {
            font-size: 14px;
        }

        .price {
            font-size: 12px;
        }
    }

    .actions .btn {
        font-size: 12px;
        padding: 3px 8px;
    }

    .total-price {
        font-size: 16px;
        padding: 5px;
    }

    .button-send .add-to-cart-btn {
        width: 160px;
        height: 35px;
        font-size: 12px;
    }

    .favorites-item .image img {
        width: 120px;
    }
}


@media (min-width: 576px) and (max-width: 1068px) {
    .table {
        font-size: 14px;
        th, td {
            padding: 10px;
        }
    }

    .image {
        img {
            width: 150px;
        }
    }

    .details {
        margin-left: 15px;

        h4 {
            font-size: 16px;
        }

        .price {
            font-size: 14px;
        }
    }

    .actions .btn {
        font-size: 14px;
        padding: 5px 10px;
    }

    .total-price {
        font-size: 18px;
        padding: 10px;
    }

    .button-send .add-to-cart-btn {
        width: 200px;
        height: 40px;
        font-size: 14px;
    }

    .favorites-item .image img {
        width: 160px;
    }
}




// Search/Cautarea

.search-results {
    @include flex-column;
    padding: 20px;
    background-color: $background-light;

    h2 {
        font-size: $fontSizeH2;
        color: $text-dark;
        margin-bottom: 20px;
    }

    .product-item {
        @include flex-column2;
        border: 1px solid $border-color;
        border-radius: 8px;
        background-color: $whiteColor;
        padding: 15px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: $fontSizeH3;
            color: $text-dark;
            margin: 10px 0;
        }

        p {
            font-size: $fontSizep;
            color: $price-color;
            margin-bottom: 15px;
        }

        a {
            text-align: center;
            font-size: $fontSizeButtonMin;
            color: $blueColor;
            text-decoration: none;
            border: 1px solid $blueColor;
            border-radius: 5px;
            padding: 7px;
            width: 100%;
            display: inline-block;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: $blueColor;
                color: $whiteColor;
            }
        }
    }
}


@media (max-width: 1068px) {
 .search-results{
    width: 100%;
    height: 100%;
 }
}

@media (max-width: 576px) {
    .search-results{
        width: 100%;
        height: 100%;
     }
}
